Bin/*
Win32/*
x64/*
Hect/Ignore.txt
Hect/Doc/*
Hect/Intermediate/*
Hect/Dependencies/Bullet/Intermediate/*
Hect/Dependencies/ENet/Intermediate/*
Hect/Dependencies/Glew/Intermediate/*
Hect/Dependencies/JsonCpp/Intermediate/*
Hect/Dependencies/LodePng/Intermediate/*
Hect/Dependencies/PhysFS/Intermediate/*
Hect/Dependencies/Sfml/Intermediate/*
Hect/Dependencies/UnitTest++/Intermediate/*
Hect/Samples/Common/Intermediate/*
Hect/Samples/Cubes/Intermediate/*
Hect/Tests/UnitTests/Intermediate/*
*.opensdf
*.sdf
*.suo
*.sublime-workspace
