Bin/*
Win32/*
x64/*
Hect/Dependencies/Bullet/Intermediate/*
Hect/Dependencies/ENet/Intermediate/*
Hect/Dependencies/Glew/Intermediate/*
Hect/Dependencies/JsonCpp/Intermediate/*
Hect/Dependencies/LodePng/Intermediate/*
Hect/Dependencies/Lua/Intermediate/*
Hect/Dependencies/PhysFS/Intermediate/*
Hect/Dependencies/Sfml/Intermediate/*
Hect/Dependencies/UnitTest++/Intermediate/*
Hect/Ignore.txt
Hect/Doc/*
Hect/Intermediate/*
Hect/Tests/SystemTests/Intermediate/*
Hect/Tests/UnitTests/Intermediate/*
SolidBlack/Dependencies/Sqlite/Intermediate/*
SolidBlack/Dependencies/SqliteShell/Intermediate/*
SolidBlack/AuthenticationServer/Intermediate/*
SolidBlack/Intermediate/*
SolidBlack/Server/Intermediate/*
SolidBlack/Client/Intermediate/*
Judecca/Intermediate/*
*.opensdf
*.sdf
*.suo
*.sublime-workspace
