Bin/*
Win32/*
x64/*
Hect/Dependencies/ENet/Intermediate/*
Hect/Dependencies/Glew/Intermediate/*
Hect/Dependencies/JsonCpp/Intermediate/*
Hect/Dependencies/LodePng/Intermediate/*
Hect/Dependencies/Lua/Intermediate/*
Hect/Dependencies/PhysFS/Intermediate/*
Hect/Dependencies/Sfml/Intermediate/*
Hect/Dependencies/UnitTest++/Intermediate/*
Hect/Hect/Ignore.txt
Hect/Hect/Doc/*
Hect/Hect/Intermediate/*
Hect/Tests/HectSystemTests/Intermediate/*
Hect/Tests/HectUnitTests/Intermediate/*
Judecca/Intermediate/*
*.opensdf
*.sdf
*.suo
